<div style="background-color: #f8f8f8; min-height: 91vh">
  <div style="padding-top: 10px"></div>

  <nz-card
    *ngIf="analytics"
    styles="width: 50% ;text-align: center; margin: auto"
  >
    <div nz-card-grid [ngStyle]="gridStyle">
      <h3>Total Posted Cars</h3>
      <h1>{{ analytics.totalCars }}</h1>
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">
      <h3>Total Sold Cars</h3>
      <h1>{{ analytics.soldCars }}</h1>
    </div>
  </nz-card>
  
  <div style="margin-top: 10px" class="child" *ngFor="let car of cars">
    <div nz-row>
      <div nz-col nzSpan="8">
        <img
          class="profile"
          style="height: 110px; width: 200px; border-radius: 10px"
          [src]="'data:image/jpeg;base64,' + car.returnedImg"
          alt="profile"
        />
      </div>
      <div nz-col nzSpan="8">
        <h2 style="cursor: pointer; color: #108ee9">
          {{ car.marque }} - {{ car.name }}
        </h2>
        <p>{{ car.description }}</p>
        <hr />
        <h5>
          - Price : <b>FCFA{{ car.price }}</b> - Color: <b>{{ car.color }}</b> -
          Transmission: <b>{{ car.transmission }}</b> - Type:
          <b>{{ car.type }} </b> - Year : <b>{{ car.year | date : "yyyy" }}</b>
        </h5>
        <hr />
        <div
          nzSize="small"
          *ngIf="!car.sold"
          nz-button
          nzType="primary"
          routerLink="/customer/car/{{ car }}/book"
        >
          Bid
        </div>
        <button
          nzSize="small"
          *ngIf="car.sold"
          nzDanger
          style="margin-left: 5px"
          nz-button
          nzType="primary"
        >
          <span nz-icon nzType="check-cicle" nzTheme="outline"></span>Sold
        </button>
      </div>
    </div>
  </div>
</div>
