<div>
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="working...">
      <div class="parent">
        <div class="child">
          <div nz-row class="imgDiv">
            <h2 style="margin-left: 230px">Post Car</h2>
          </div>
          <form nz-form [formGroup]="postCarForm" (ngSubmit)="postCar()">
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-control
                    nzHasFeedback
                    [nzXs]="24"
                    nzErrorTip="This Input Is Required !"
                  >
                    <nz-select
                      nzServerSearch
                      nzAllowClear
                      nzPlaceHolder="Select a Brand Name"
                      formControlName="brand"
                    >
                      <nz-option
                        *ngFor="let brand of listOfBrands"
                        nzLabel="{{ brand }}"
                        nzValue="{{ brand }}"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-control
                    nzHasFeedback
                    [nzXs]="24"
                    nzErrorTip="This Input Is Required !">
                    <input nz-input placeholder="Name" formArrayName="name" />
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-control
                    nzHasFeedback
                    [nzXs]="24"
                    nzErrorTip="This Input Is Required !"
                  >
                    <nz-select
                      nzServerSearch
                      nzAllowClear
                      nzPlaceHolder="Select a Type"
                      formControlName="type"
                    >
                      <nz-option
                        *ngFor="let type of listOfType"
                        nzLabel="{{ type }}"
                        nzValue="{{ type }}"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-control
                    nzHasFeedback
                    [nzXs]="24"
                    nzErrorTip="This Input Is Required !"
                  >
                    <nz-select
                      nzServerSearch
                      nzAllowClear
                      nzPlaceHolder="Select a Transmission"
                      formControlName="transmission"
                    >
                      <nz-option
                        *ngFor="let transmission of listOfTransmission"
                        nzLabel="{{ transmission }}"
                        nzValue="{{ transmission }}"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-control
                    nzHasFeedback
                    [nzXs]="24"
                    nzErrorTip="This Input Is Required !"
                  >
                    <nz-select
                      nzServerSearch
                      nzAllowClear
                      nzPlaceHolder="Select a Color"
                      formControlName="color"
                    >
                      <nz-option
                        *ngFor="let color of listOfColor"
                        nzLabel="{{ color }}"
                        nzValue="{{ color }}"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-control
                    nzHasFeedback
                    [nzXs]="24"
                    nzErrorTip="This Input Is Required !"
                  >
                    <nz-year-picker
                      style="width: 100%"
                      nzPlaceHolder="Model Year"
                      formControlName="year"
                    >
                    </nz-year-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-control
                    nzHasFeedback
                    [nzXs]="24"
                    nzErrorTip="This Input Is Required !"
                  >
                    <input
                      style="width: 100%"
                      placeHolder="Price"
                      formControlName="price"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-control
                      nzHasFeedback
                      [nzXs]="24"
                      nzErrorTip="This Input Is Required !"
                    >
                      <input
                        style="width: 100%"
                        placeHolder="Description"
                        formControlName="description"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"></button>
            </div>
          </form>
        </div>
      </div>
    </nz-spin>
  </div>
  